In [17]:
import numpy as np
import pandas as pd
import math

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [18]:
people = pd.read_csv('final_ML_data.csv')
filters = (people['Windspeed'] != '#REF!') & (people['Humidity'] != '#REF!') & (people['Pressure3pm'].isnull() == False) # eliminating nonsense rows
people_final = people[filters].reset_index(drop=True)

In [19]:
people_final

,Unnamed: 0,Date,Location,MinTemp,MaxTemp,AvgTemp,Rainfall,WindGustDir,WindGustSpeed,WindDir9am,...,Pressure,Temp9am,Temp3pm,acq_date,count,latitude,longitude,brightness,bright_t31,confidence
0,0.0,1/01/2015,Albury,11.4,33.5,22.45,0.0,WSW,30.0,ESE,...,1012.25,21.0,32.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,2/01/2015,Albury,15.5,39.6,27.55,0.0,NE,56.0,ESE,...,1014.20,25.6,38.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2.0,3/01/2015,Albury,17.1,38.3,27.7,0.0,NNE,48.0,NE,...,1015.10,29.2,37.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3.0,4/01/2015,Albury,26.0,33.1,29.55,0.0,NNE,41.0,ESE,...,1012.85,27.4,30.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4.0,5/01/2015,Albury,19.0,35.2,27.1,0.0,E,33.0,SSE,...,1016.05,25.6,32.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36678,38528.0,26/12/2016,Hobart,9.1,17.4,11.35,0.0,SW,35.0,E,...,1023.50,10.8,37.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36679,38529.0,27/12/2016,Hobart,7.4,21.2,12.9,0.0,SW,35.0,ENE,...,1024.20,11.4,31.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36680,38530.0,28/12/2016,Hobart,0.6,16.5,9.2,0.0,S,41.0,N,...,1023.15,14.2,32.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36681,38531.0,29/12/2016,Hobart,2.6,17.7,13.25,10.4,SE,33.0,SSE,...,1020.75,17.2,33.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36682,38532.0,30/12/2016,Hobart,3.2,19.5,14.3,4.4,W,35.0,SE,...,1020.55,15.2,34.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
all_X = people_final.iloc[:, [3,4,5,6,8,11,12,13,14,15,16,17,18,19,20,21]] # not accounting for wind directions right now
all_y = people_final.iloc[:, 28] # confidence data

0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
         ..
36678   NaN
36679   NaN
36680   NaN
36681   NaN
36682   NaN
Name: confidence, Length: 36683, dtype: float64

In [21]:
for i in enumerate(all_y): # setting null confidence values to 0
    if math.isnan(i[1]):
        all_y[i[0]] = 0

C:\Users\Harrison Cusack\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [39]:
X_train, X_test, y_train, y_test = train_test_split(all_X, all_y)

clf = LinearRegression() 
clf.fit(X_train, y_train)
clf.score(X_test, y_test) # this is a surprisingly low score but from what I've seen we shouldn't put too much faith in them
                          # i.e. we shouldn't be too worried

0.0020575426629879656

In [40]:
clf.predict(people.iloc[0:80, [3,4,5,6,8,11,12,13,14,15,16,17,18,19,20,21]])

array([ 1.02032397,  1.41208041,  0.81360378,  0.85793629,  1.19522025,
        1.00017244,  0.7747916 ,  0.47092024,  0.24932989, -0.14932088,
        0.60966226,  0.67510639,  0.01068164,  0.52459804,  0.58253652,
        0.71547015,  0.52014448,  0.56992832,  0.59335296,  0.60020962,
        0.5502565 ,  0.68445555,  0.88370333,  0.58113506,  0.37927723,
        0.25530246,  0.58221203,  0.52742911,  0.48247508,  0.45122028,
        0.53725799,  0.60036483,  0.57514842,  0.61085677,  0.82368114,
        0.64596786,  0.94271367,  0.94820653,  1.13440916,  1.06060343,
        0.94353195,  0.99935417,  1.17667714,  0.91341994,  0.01279791,
        0.91792523,  0.77728411,  0.95489391,  0.79878923,  0.95706191,
        0.96548932,  0.99184851,  0.74184851,  1.27109051,  0.81835757,
        0.61694689,  0.45308296,  0.57455626,  0.96059882,  0.45194019,
        0.66748319,  0.69281715,  0.9408561 ,  0.4524148 ,  0.37958256,
        0.46268571,  0.69237511,  0.88378763,  0.93297421,  1.02846455,
        0.92922138,  0.83699008,  0.65612124,  0.55204827,  0.63302109,
        0.65313495,  0.46449666,  1.05444751,  0.53775177,  0.84552097])