In [231]:
import numpy as np
import pandas as pd
import math

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [258]:
math.isnan(people['Rainfall'])

TypeError: cannot convert the series to <class 'float'>

In [271]:
people = pd.read_csv('final_ML_data.csv')
filters = (people['Windspeed'] != '#REF!') & (people['Humidity'] != '#REF!') & (people['Pressure3pm'].isnull() == False) # eliminating nonsense rows
people_final = people[filters]
people_final.reset_index()

,index,Unnamed: 0,Date,Location,MinTemp,MaxTemp,AvgTemp,Rainfall,WindGustDir,WindGustSpeed,...,Pressure,Temp9am,Temp3pm,acq_date,count,latitude,longitude,brightness,bright_t31,confidence
0,0,0,1/01/2015,Albury,11.4,33.5,22.45,0.0,WSW,30,...,1012.25,21.0,32.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1,2/01/2015,Albury,15.5,39.6,27.55,0.0,NE,56,...,1014.20,25.6,38.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2,3/01/2015,Albury,17.1,38.3,27.7,0.0,NNE,48,...,1015.10,29.2,37.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,3,4/01/2015,Albury,26.0,33.1,29.55,0.0,NNE,41,...,1012.85,27.4,30.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,4,5/01/2015,Albury,19.0,35.2,27.1,0.0,E,33,...,1016.05,25.6,32.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36678,38528,38528,26/12/2016,Hobart,9.1,17.4,11.35,0.0,SW,35,...,1023.50,10.8,37.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36679,38529,38529,27/12/2016,Hobart,7.4,21.2,12.9,0.0,SW,35,...,1024.20,11.4,31.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36680,38530,38530,28/12/2016,Hobart,0.6,16.5,9.2,0.0,S,41,...,1023.15,14.2,32.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36681,38531,38531,29/12/2016,Hobart,2.6,17.7,13.25,10.4,SE,33,...,1020.75,17.2,33.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36682,38532,38532,30/12/2016,Hobart,3.2,19.5,14.3,4.4,W,35,...,1020.55,15.2,34.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [272]:
all_X = people_final.iloc[:, [3,4,5,6,8,11,12,13,14,15,16,17,18,19,20,21]] # not accounting for wind directions right now
all_y = people_final.iloc[:, 28] # confidence data

all_X = all_X.reset_index(drop=True)
all_y = all_y.reset_index(drop=True)

In [273]:
all_y

0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
         ..
36678   NaN
36679   NaN
36680   NaN
36681   NaN
36682   NaN
Name: confidence, Length: 36683, dtype: float64

In [274]:
for i in enumerate(all_y): # setting null confidence values to 0
    if math.isnan(i[1]):
        all_y[i[0]] = 0

In [275]:
X_train, X_test, y_train, y_test = train_test_split(all_X, all_y)

clf = LinearRegression() 
clf.fit(X_train, y_train)
clf.score(X_test, y_test) # this is a surprisingly low score but from what I've seen we shouldn't put too much faith in them
                          # i.e. we shouldn't be too worried

-0.00218442580087741

In [276]:
clf.predict(people.iloc[0:80, [3,4,5,6,8,11,12,13,14,15,16,17,18,19,20,21]])

array([1.75325943, 1.66410093, 1.56774466, 1.09541738, 1.18396945,
       1.49613173, 1.5202208 , 0.70295821, 0.46522857, 0.05634923,
       1.082313  , 1.15809863, 0.46944361, 0.98638551, 1.04832229,
       1.05493101, 0.98528024, 1.0363003 , 1.06047957, 0.82726054,
       0.76904546, 0.91892514, 1.25269536, 0.8099606 , 0.97206279,
       0.46477757, 0.79978835, 0.99482109, 0.94055321, 0.90399116,
       0.99552046, 0.81859946, 1.04455549, 1.0822228 , 1.29322473,
       1.11993522, 1.4240678 , 1.18374396, 1.37726828, 1.55211406,
       1.4283307 , 1.49186884, 0.90365534, 1.14456548, 0.21784225,
       0.89278372, 1.51426634, 1.19332991, 0.76771469, 1.18884152,
       1.2011792 , 1.22801999, 1.47801999, 1.51040935, 0.79074359,
       0.84185385, 0.79721702, 0.92499267, 1.07185003, 0.54442019,
       1.13416774, 0.91829375, 1.41123403, 0.90390096, 0.82434854,
       0.66321632, 1.15967777, 1.35067311, 1.15173828, 1.49832004,
       1.39481385, 1.04942755, 1.36916852, 1.01891016, 1.09352319,
       1.11939402, 0.8093292 , 1.27951393, 0.50124942, 0.80599118])