In [23]:
import numpy as np
import pandas as pd
import math
import json
import datetime

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, ElasticNet
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor, ExtraTreesClassifier
from sklearn import preprocessing
import pickle

import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('../../../data/fire_archive_M6_157443.csv')
df["confidence"] = df["confidence"].fillna(0).dropna()
df

,latitude,longitude,brightness,acq_date,confidence,bright_t31,type
0,-15.8931,136.6094,324.4,1/01/2015,28,302.3,0
1,-14.9764,145.2801,320.6,1/01/2015,24,294.8,0
2,-18.5115,139.5995,331.8,1/01/2015,37,305.0,0
3,-17.1160,122.2857,315.7,1/01/2015,0,294.9,0
4,-18.0797,122.6967,313.7,1/01/2015,31,292.9,0
...,...,...,...,...,...,...,...
671992,-22.4415,134.5244,314.9,31/12/2017,88,296.6,0
671993,-22.4800,134.5289,308.8,31/12/2017,69,295.7,0
671994,-22.4323,134.5258,313.8,31/12/2017,86,296.4,0
671995,-22.4707,134.5303,313.1,31/12/2017,83,296.7,0
671996,-22.2666,136.8796,308.1,31/12/2017,68,297.2,0

In [9]:
df['month'] = pd.DataFrame(pd.DatetimeIndex(df['acq_date']).month)

In [10]:
df.dtypes

latitude      float64
longitude     float64
brightness    float64
acq_date       object
confidence      int64
bright_t31    float64
type            int64
month           int64
dtype: object

In [19]:

cols_to_pick_reg = ['latitude', 'longitude', "month", "brightness", "bright_t31"]
#cols_to_pick_reg = ["MinTemp", "MaxTemp", "AvgTemp", "Rainfall", 'WindGustSpeed', 'WindSpeed9am', 'WindSpeed3pm', 'Windspeed',  
#'Humidity9am', 'Humidity3pm', 'Humidity', 'Pressure9am', 'Pressure3pm', 'Pressure', 'Temp9am', 'Temp3pm', 'lat', 'long', 'Month']

all_X_reg = df.loc[:300000, cols_to_pick_reg] # not accounting for wind directions right now
all_Y_reg = df.loc[:300000, "confidence"] # confidence data

In [ ]:

# x = np.array(all_X_reg["lat"])
# y = np.array(all_Y_reg)
# print(x.dtype, y.dtype)

# plt.plot(x, y)
# plt.show()

In [ ]:
x_reg = all_X_reg.values #returns a numpy array
min_max_scaler_reg = preprocessing.StandardScaler()
x_scaled_reg = min_max_scaler_reg.fit_transform(x_reg)
all_X_reg = pd.DataFrame(x_scaled_reg)
all_X_reg

In [24]:
X_train_reg, X_test_reg, y_train_reg, y_test_reg = train_test_split(all_X_reg, all_Y_reg, random_state=11)
clf_reg = GradientBoostingRegressor()
clf_reg.fit(X_train_reg, y_train_reg)
clf_reg.score(X_test_reg, y_test_reg)

0.5643942831253224

In [28]:
clf_reg.predict(df.loc[0:80, cols_to_pick_reg])

array([58.9801269 , 70.86523816, 69.90440683, 68.28707621, 69.87482236,
       71.39200439, 68.44117203, 98.18545676, 80.18833258, 71.04595802,
       81.40502194, 98.18545676, 98.18545676, 72.33293284, 98.18545676,
       88.49132826, 98.18545676, 70.02072804, 64.34070816, 65.70099731,
       75.3894829 , 83.11248165, 98.18545676, 98.18545676, 79.47915308,
       98.00424968, 98.18545676, 88.49132826, 98.18545676, 60.43028878,
       60.4984546 , 59.91744539, 59.80117483, 59.80117483, 59.19547346,
       59.47798934, 62.70287707, 69.3155861 , 62.84589735, 64.90586315,
       88.44655285, 65.9081373 , 62.33560081, 96.26978281, 81.23172207,
       81.34358579, 64.99487428, 72.26344931, 76.65162333, 68.87074546,
       89.37473177, 77.95551389, 67.17876573, 90.47936356, 68.20002471,
       90.90808083, 84.5384538 , 73.07380217, 89.75382916, 75.21440383,
       86.55802258, 85.1046142 , 77.68248899, 85.30991142, 87.271774  ,
       88.60598831, 86.73386258, 88.13990358, 89.44705972, 92.84751944,
       81.49571285, 78.50935323, 59.8284173 , 78.49157419, 91.82628315,
       72.43111761, 89.09995967, 98.49639637, 91.47314754, 94.5285438 ,
       80.18833258])

In [29]:
pickle.dump(clf_reg, open("../pickles/gradient_regressor.sav", "wb"))

NameError: name &#39;clf&#39; is not defined